.parentDiv{
    display: flex;
    flex-wrap: wrap;
    width: 960;
    background-color: #ccc;
}

.square{
    background-color: #abcdef;
    border: 1px solid #000;
    margin:5px;
}

.square:hover{
    background-color: #345;
    opacity: 0.6;
    cursor: pointer;
}